
body {
  font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
padding-top: 56px;
}

.portfolio-item {
  margin-bottom: 30px;
}
.bg-dark {
    background-color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #000;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
	color:#000;
	font-weight:bold;
}
.head4{
	font-size: 25px;
    font-weight: bold;
}	
.dashed{
	border-bottom: 1px dashed #000;
    padding-bottom: 10px;
    margin-bottom: 13px;
}
.hd_1{
	font-size: 21px;
    font-weight: bold;
    text-align: center;
	text-decoration: underline;
}
i.fas.fa-heart {
    color: red;
}
i.fas.fa-comments {
    color: blue;
}
.mar_tp {
    margin-top: 30px;
}
.mar_bt{
	margin-bottom: 30px;
}
.alg_cen{
	text-align:center;
}
.topic {
    color: #000;
    padding: 11px 18px;
    background: #eee;
    border-radius: 20px;
}
.mn_topic ul li {
    list-style: none;
    float: left;
    margin: 11px 1px;
    padding: 0px;
}
h5{
	font-size: 12px;
    font-weight: bold;
}
.s_para {
    font-size: 12px;
    line-height: 14px;
    color: #000;
}
.card_pad_20{
	padding:20px;
}
.dark_bg{
	background:#e76915;
}
.light_bg{
	background:#fefefe;
}
p{
	font-size: 15px;
    line-height: 29px;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 26px;
    font-weight: bold;
}
.fnt_hg{
    font-size: 25px;
}
h1{font-size: 50px; text-align:center;}
header{margin-top: 84px;}
.p_milk{
	color:#fff;
}
.mar_bt{
	margin-bottom:15px;
}
.huge{
	font-size: 200px;	
}
.mar_tp1 {
    margin-top: 60px;
}
li{
	list-style:none;
}
footer a{
	color: #000;
    font-size: 14px;
}
footer{
	background:#eee !important;
}
/*comment */

.comment-section {
    max-height: 350px;
    overflow-y: scroll;
}

a.btn.btn-outline-primary.float-left.addpost_btn.btn-block {
    margin-left: -150px;
}
header h1,h1{
margin-bottom: .75rem;
font-size: 26px;
font-weight: bold;
}
.card-title a {
    color: #000 !important;
    text-decoration: none;
}
a.navbar-brand img {
    height: 100px;
}
.img-circle{
    border-radius:50%;
    border: none;
}
.text {
    margin-top: 30px;
}
.s_para {
    /* font-size: 10px; */
    /* line-height: 14px; */
    color: #000;
    text-align: center;
    margin-top: 10px;
    text-decoration: none !important;
    font-weight: bold;
}
.type-badge {
    min-width: 85px;
}
.form-control {
    box-shadow: 1px 1px;
}
input[name="search"] {
    box-shadow: none;
}
/* social icons */
.btn-group a.btn:nth-child(1) {
    background: #4464B4;
    color: #fff;
}
.btn-group a.btn:nth-child(2) {
    background: #54D4FC;
    color: #fff;
}
.btn-group a.btn:nth-child(3) {
    background: #2C6CB4;
    color: #fff;
}
.btn-group a.btn:nth-child(3) {
    background: #2C6CB4;
    color: #fff;
}
.btn-group a.btn:nth-child(4) {
    background: #E4041C;
    color: #fff;
}
.btn-group a.btn:nth-child(5) {
    background: #04B45C;
    color: #fff;
}
.btn-group a.btn {
    border-radius: 50px;
}
.view.overlay {
    padding-top: 10px;
    padding-left: 10px;
}